.brand {
	background: #cbb09c !important;
}

.brand-text {
	color: #cbb09c !important;
}

form {
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
}

.sub-image {
	width: 100px;
	margin: 40px auto -30px;
	display: block;
	position: relative;
	top: -30px
}

footer {
	background-color: black;
	margin-top: 50px;
}

.separator { border-left: 1px solid grey; padding-left: 5px; padding-right: 5px}

.separator:first-child { border-left: 0px solid grey; padding-left: 5px; padding-right: 5px}

.error {font-size: 0.85em;}

.dropdown-content{
   width: max-content !important;
   height:auto !important;
}

.sign-in-up-nav {
	margin-top: 10px;
}